@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622600148568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-user:before {
  content: "\e611";
}

.icon-suo:before {
  content: "\e652";
}

.icon-tubiaolunkuo-:before {
  content: "\e606";
}

.icon-yonghu:before {
  content: "\e720";
}

.icon-suo1:before {
  content: "\e63e";
}

.icon-yonghu1:before {
  content: "\e699";
}

.icon-ic_body:before {
  content: "\e6b4";
}

.icon-ic_briefcase-1:before {
  content: "\e6b5";
}

.icon-ic_box:before {
  content: "\e6b7";
}

.icon-ic_computer:before {
  content: "\e6b9";
}

.icon-ic_list:before {
  content: "\e6c0";
}

